.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 2%;
    background: var(--box-background);
    margin: 10% 15%;
    border-radius: 30px;
    box-shadow: var(--night-shadow);
    height: 60%;
}
.box_local{
    display: inline-flex;
    width: max-content;
    align-items: center;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
}
.box_local-img{
    width: 60px;
    height: 60px;
}
.box_local-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.box_local-text h2{
    font-size: 3rem;
}
.box_local-text h1{
    font-size: 1rem;
}
.box_local-text div{
    display: flex;
    font-size: 2.5rem;
    align-items: flex-end;
}
.temp-min-max{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 5%;
}
.temp-min-max p{   
    font-size: 1em;
}
.hour-date{
    display: flex;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
}