<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWeather</title>
    <link rel="icon" type="image/x-icon" href="assets/partly-cloud.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.js"></script>
    <script src="teste.js" defer></script>
</head>

<body>
    <section class="body-mask">
        <div id="app">
            <header class="header">
                <div class="header_logo">
                    <img class="header_logo-img" src="assets/logo.png" alt="Logo">
                    <h1 class="header_logo-text">MyWeather</h1>
                </div>
                <div class="header_search">
                    <input class="header_search-input" type="search" placeholder="Escolha sua localização.">
                </div>
                <div class="header-checkbox">
                    <button v-on:click="changeSearch()" class="weather-search" id="weather-searchid" type="button">
                        <label class="weather-search_label" for="weather-searchid">
                            <span class="weather-search_span"></span>
                        </label>
                    </button>
                    <section class="header_search-box" v-if="useSearch" :style="{ display: 'flex'}">
                        <div class="return">
                            <button class="search-back" id="search-back" type="button">
                                <label for="search-back">
                                    <span class="search-back-span" v-on:click="changeSearch()"></span>
                                </label>
                            </button>
                            <p>Meus locais:</p>
                        </div>
                        <div class="input">
                            <button class="track" id="track" type="button">
                                <label for="track">
                                    <span class="track-span"></span>
                                </label>
                            </button>
                            <div class="box-input">
                                <input class="header_search-input2" type="search"
                                    placeholder="Escolha sua localização.">
                            </div>
                            <button class="reset" id="reset-history" type="button">
                                <label for="reset-history">
                                    <span class="reset-span"></span>
                                </label>
                        </div>
                    </section>
                    <input class="weather-input" id="weather-inputid" type="checkbox">
                    <label class="weather-input_label" for="weather-inputid">
                        <span class="weather-input_span" v-on:click="changeTemperature()"></span>
                    </label>
                </div>
            </header>
            <section class="box">
                <div class="box_local">
                    <img class="box_local-img" src="assets/sky assets/sunny.png" alt="ensolarado">
                    <div class="box_local-text">
                        <h1 class="local">{{ userTemperature.userLocation }}</h1>
                        <div>
                            <h2 class="temperature-number">{{ useFahrenheit ? userTemperature.temperatureF :
                                userTemperature.temperatureC }}</h2>
                            <h2>º</h2>
                            <p class="celsius-fahrenheit">C</p>
                        </div>
                    </div>
                    <!-- <div class="temp-min-max">
                    <p>25º</p>
                    <p>15º</p>
                </div> -->
                </div>
                <div class="hour-date">
                    <p class="climate-status">{{ userTemperature.summary }}</p>
                    <p>&nbsp;-&nbsp;</p>
                    <p class="week-day">{{ new Date().toLocaleString('en-US', {weekday:'long'}) }}</p>
                    <p>&nbsp;</p>
                    <p class="month-day">{{ new Date().getDate() }}</p>
                    <p>,&nbsp;</p>
                    <p class="hour">{{`${new Date().getHours()}:${String(new Date().getMinutes()).padStart(2, '0')}`
                        }}</p>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item in lstTemperatures" :key="item.date">
                            <div>
                                <span>Date:</span>
                                <span>{{ item.date }}</span>
                            </div>
                            <div>
                                <span>Temperature:</span>
                                <span>{{ useFahrenheit ? item.temperatureF : item.temperatureC }}</span>
                            </div>
                            <div>
                                <span>Summary:</span>
                                <span>{{ item.summary }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Adicione Navegação -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- Adicione a scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </section>
        </div>
    </section>
</body>

</html>