.swiper {
    width: 100%;
    margin-top: 15%;
}

.swiper:hover {
    cursor: grab;
}

#weatherForecastTable {
    width: 100%;
}

.swiper-slide{
    display: flex !important;
    flex-direction: column;
    border-radius: 16px;
    padding: .5em 1em;
    transition: transform 0.3s ease;
    background: var(--transparent-table);
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
}

.swiper-slide:hover {
    transform: scale(1.15);
}

.imgsun {
    width: 40px;
}

@media screen and (max-width:1000px) {
    .swiper-slide {
        width: 100%;
    }
}